<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

  
  <h1><%= title %></h1>
   <p>Welcome to <%= title %></p>
   <img src="/Assets/images/YangXuan.jpg" id="photo">
   <p>My name is Yang Xuan. I am learning software engineering at Centennial College.<br>
  This is my first express site, and I wish it meets your needs.</p>
  <a href="/Assets/pdf/YangResume.pdf">Resume</a>

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

